<html ng-app="listaTelefonica">
    <head>
        <title>Lista Telefonica</title>
        <script src="lib/angular.js"></script>
        <script src="lib/controller/lista-telefonica-controller.js"></script>
        <script src="lib/controller/mascara-telefone-controller.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="lib/css/estilo.css">
        
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3>{{app}}</h3>
            <table ng-show="contatos.length > 0" class="table">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                    <td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="contato.selecionado">
                        </div>
                    </td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                </tr>
            </table>
        
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
            <input class="form-control" type="number" ng-model="contato.telefone" placeholder="Telefone"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
            <button ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora" class="btn btn-primary btn-block">Adicionar Contato</button>
            <button ng-click="removerContato(contatos)"  ng-show="isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Remover Contato</button>
            <button ng-click="editarContato(contatos)"  ng-show="isContatoSelecionado(contatos) || isContatoSelecionado(contatos).length == 1" class="btn btn-sencondary btn-block">Editar Contato</button>
            <button ng-click="limparCampos()" class="btn btn-light btn-block">Limpar</button>
            
        </div>
        
    </body>
</html>